@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');


:root {
    --primary-color: #FFFDFE;
    --secondary-color: #d5d5d57d;
    --tertiary-color: #151515;
    --text-gray-color: #808080;
    --success-color: #008000;
    --danger-color: #ff0000;
}

body {
    font-family: 'Gelasio', serif;
}

input {
    border: none;
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

.main {
    padding: 2rem;
    width: 90%;
    margin: auto;
}

h2 {
    font-family: 'Roboto', sans-serif;
}


.no_blog{
    padding: .7rem;
    width: 100%;
    text-align: center;
    background: var(--secondary-color);
    font-size: 1;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: var(--text-gray-color);
    border-radius: .6rem;
}


.tab_flex{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.nav-tabs{
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: relative;
}


    
.nav-tabs::after{
    content: '';
    height: 100%;
    width: 2px;
    background: var(--secondary-color);
    position: absolute;
    top: 0;
    right: 0;
}

.nav-tabs .nav-link{
    color: var(--text-gray-color);
    border: none;
    outline: none;
    background: white;
}

.nav-tabs .nav-link.active{
    width: 100%;
    border: none;
    outline: none;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 0px;
}