@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');


:root {
    --primary-color: #FFFDFE;
    --secondary-color: #d5d5d57d;
    --tertiary-color: #151515;
    --text-gray-color: #808080;
    --success-color: #008000;
    --danger-color: #ff0000;
}

body {
    font-family: 'Gelasio', serif;
}

input {
    border: none;
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

.main {
    padding: 2rem;
    width: 90%;
    margin: auto;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

.artiicle_form {
    width: 60%;
    margin: auto;
}

.form_con {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form_con .form_box {
    width: 100%;
    border-bottom: 2px solid var(--secondary-color);
}

.form_con .form_box input,
.form_con .form_box textarea {
    width: 100%;
}

.form_con .form_box textarea {
    height: 295px;
    max-height: 295px;
    min-height: 295px;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
}


.title_box {
    font-family: 'Roboto', sans-serif;
    color: var(--tertiary-color);
    font-size: 34px;
    font-weight: 700;
}

.description_box {
    color: var(--tertiary-color);
    font-size: 1.1rem;
    font-weight: 700;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    background: var(--secondary-color);
    color: var(--text-gray-color);
    font-size: 16px;
}

.form_box label {
    color: var(--text-gray-color);
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.publish_btn {
    padding: .8rem;
    background: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}


.error_con {
    padding: 1rem;
    background: rgba(255, 0, 0, 0.08);
    width: 100%;
    margin-bottom: 2rem;
}

.error_con h3 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.error_con ul {
    padding: 1rem 0;
    position: relative;
}

.error_con ul::before {
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(81, 36, 36);
    position: absolute;
    top: 0;
    left: 0;
}

.error_con ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.error_con .fa-circle-xmark {
    color: var(--danger-color);
    font-weight: 600;
}

.error_con ul li span {
    color: var(--danger-color);
    font-weight: 500;
}