@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');


:root {
    --primary-color: #FFFDFE;
    --secondary-color: #d5d5d57d;
    --tertiary-color: #151515;
    --text-gray-color: #808080;
}

body {
    font-family: 'Gelasio', serif;
}

input {
    border: none;
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

.main {
    padding: 2rem;
    width: 90%;
    margin: auto;
}


.read_articles{
    width: 58%;
    margin: auto;
}

.read_articles_column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thumbnail_in_read{
    width: 100%;
    height: 28rem;
}

.thumbnail_in_read img{
    width: 100%;
    height: 100%;
}
.read_articles h1{
    width:95%;
    padding: .8rem 0;
    font-family: 'Roboto', sans-serif;
    color: var(--tertiary-color);
    font-size: 34px;
    font-weight: 700;
}

.article_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article_profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.article_profile_img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.article_profile_img img {
    width: 100%;
    height: 100%;
}

.article_profile_details{
    display: flex;
    flex-direction: column;
}

.article_profile_details small{
    font-family: 'Roboto', sans-serif;
    color: var(--tertiary-color);
    font-size: .9rem;
    font-weight: 500;
}

.article_profile_details .article_profile_username {
    color:var(--text-gray-color);
    text-decoration: underline;
    cursor: pointer;
}

.article_date_on_read{
    color: var(--text-gray-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}


.article_read_desc{
    padding: .8rem;
    width: 100%;
    color: var(--text-gray-color);
    font-family: 'Roboto', sans-serif;
    background:var(--secondary-color) ;
}

.article_content{
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 28px;
}

.read_articles_actions{
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-gray-color);
}

.read_articles_actions_left{
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
}

.read_articles_actions_right {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap:1.1rem;
}

.read_articles_actions_right i{
    cursor: pointer;
}