.articles_container {
    width: 100%;
    display: flex;
    gap: 2rem;
}



.articles_main {
    width: 100%;
    border-right: 2px solid var(--secondary-color);
}

.articles_sidebar {
    width: 30%;
}

.flex_articles_boxes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.each_article_box {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: .2rem;
    position: relative;
}

.each_article_box::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: 0;
}

.each_article_box_left {
    width: 70%;
}

.each_article_box_right {
    width: 30%;
}


.each_article_box_left_top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.username_index {
    text-transform: lowercase;
    font-size: .9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-gray-color);
}

.created_date_index {
    font-size: .9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-gray-color);
}

.each_article_box .user_img_index {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.each_article_box .user_img {
    width: 100%;
    height: 100%;
}

.thumbnail {
    width: 200px;
    height: 150px;
}

.thumbnail_img {
    width: 100%;
    height: 100%;
}

.each_article_box_left_middle {
    padding: .5rem 0;
}

.each_article_box_left_middle .article_title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--tertiary-color);
}

.each_article_box_left_middle .article_description {
    font-weight: 500;
    max-width: 90%;
    font-size: 1rem;
    opacity: .9;

}

.each_article_box_left_bottom {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: .4rem;
}




.categories_flex {
    display: flex;
    gap: .5rem;
}

.categories_flex .article_category {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--tertiary-color);
    padding: .1rem .5rem;
    background: var(--secondary-color);
    border-radius: 1rem;
    opacity: .8;
}

.categories_flex .article_category a {
    font-size: .9rem;
    color: var(--tertiary-color);
}

.reactions {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-gray-color);
    cursor: pointer;


}


// Styling for the sidebar

.articles_sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.categories_sidebar_con {
    font-family: 'Roboto', sans-serif;
    color: var(--tertiary-color);
}

.articles_sidebar h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
}

.categories_sidebar_box {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.categories_sidebar_box button {
    padding: .4rem 1rem;
    background: var(--secondary-color);
    font-weight: 500;
    font-size: .9rem;
    border-radius: 1rem;
    opacity: .85;
}


.categories_sidebar_box button a {
    color: var(--tertiary-color);
}


// skbsb


.articles_sidebar .flex_articles_boxes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.articles_sidebar .each_article_box {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .2rem;
}





.articles_sidebar .each_article_box_left_top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.articles_sidebar .username_index {
    text-transform: lowercase;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-gray-color);
}

.articles_sidebar .created_date_index {
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--text-gray-color);
}

.articles_sidebar .each_article_box .user_img_index {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    overflow: hidden;
}

.articles_sidebar .each_article_box .user_img {
    width: 100%;
    height: 100%;
}

.articles_sidebar .each_article_box_left_middle .article_title {
    font-size: 16px;
    font-weight: 600;


}

.articles_sidebar .thumbnail {
    width: 60px;
    height: 60px;
}

.articles_sidebar .thumbnail .ranking_number {
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: var(--text-gray-color);
    opacity: .4;
}



//Responsiveness
@media screen and (max-width:1200px) {
    .each_article_box_left {
        width: 90%;
    }

    .each_article_box_right {
        width: auto;

    }

}

@media screen and (max-width:920px) {
    .articles_container {
        flex-direction: column;
    }

    .articles_sidebar {
        width: 100%;
    }

    .each_article_box {
        width: 100%;
        gap: 2rem;

    }

    .each_article_box_left {
        width: 70%;
    }

    .each_article_box_right {
        width: 30%;
        overflow: hidden;
    }



    .thumbnail {
        width: 120px;
        height: 100px;
    }

    .each_article_box_left_middle .article_title {
        font-size: 18px;
    }

    .each_article_box_left_middle .article_description {
        font-size: .9rem;
    }

    .categories_flex .article_category a {
        font-size: .8rem;
        color: var(--tertiary-color);
    }

}


//Responsiveness for smaller screens

@media screen and (max-width:380px) {
    .articles_container {
        flex-direction: column;
    }

    .articles_sidebar {
        width: 100%;
    }

    .each_article_box {
        gap: 1rem;
        flex-direction: column-reverse;
        width: 100%;
    }

    .each_article_box_left {
        width: 100%;
    }

    .each_article_box_right {
        width: 100%;
        overflow: hidden;
    }



    .thumbnail {
        width: 100%;
        height: 100%;
    }

    .each_article_box_left_middle .article_title {
        font-size: 18px;
    }

    .each_article_box_left_middle .article_description {
        font-size: .9rem;
    }

    .each_article_box_left_bottom {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding-bottom: .4rem;
    }


    .categories_flex .article_category a {
        font-size: .7rem;
    }

    .articles_sidebar .each_article_box_left,
    .articles_sidebar .each_article_box_right {
        width: 100%;
    }

    .articles_sidebar .thumbnail {
        width: 100%;
        height: 100%;
    }

    .articles_sidebar .ranking_number {
        text-align: center;
    }
}