

.tab_flex{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.nav-tabs{
    height: 100%;
    width: 20%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: relative;
}


    
.nav-tabs::after{
    content: '';
    height: 100%;
    width: 2px;
    background: var(--secondary-color);
    position: absolute;
    top: 0;
    right: 0;
}

.nav-tabs .nav-link{
    color: var(--text-gray-color);
    border: none;
    outline: none;
    background: white;
}

.nav-tabs .nav-link.active{
    width: 100%;
    border: none;
    outline: none;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 0px;
}

.tab-container{
    width: 80%;
}

.tab-container .tab-content{
    width: 70%;
    margin: auto;

}


.tab-container .form_con .form_box input, .tab-container .form_con .form_box textarea{
padding: .8rem;
width: 100%;
color: var(--tertiary-color);
background: var(--secondary-color);
border-radius: .3rem;

}

.tab-container .form_con .form_box textarea{
    border: none;
    outline: none;
    min-height: 10rem;
    max-height: 10rem;
}

.tab-container .form_con input:focus{
color: var(--tertiary-color);
font-weight: 500;
}

.tab-container .sign_btn{
padding: .8rem;
width: 30%;
margin: auto;
background: var(--tertiary-color);
color: var(--primary-color);
border-radius: 1.5rem;
}

.tab-container .tab-pane-flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}