header {
    background: var(--primary-color);
    height: 60px;
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}


header nav {
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: 0;
}

header nav .nav-left {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header nav .nav-left .logo_box {
    width: 2.2rem;
    height: 1.8rem;
}

header nav .nav-left .logo_box .logo {
    width: 100%;
    height: 100%;
}

header .search_box {
    background: var(--secondary-color);
    padding: 0 .6rem;
    border-radius: 1.5rem;
    width: 10rem;
}

header .search_box .fa-solid {
    color: var(--text-gray-color);
}

header .search_flex {
    display: flex;
    align-items: center;
    gap: .7rem;
}

header .search_flex input {
    width: 100%;
    background: none;
    padding: .4rem 0;
}


header .nav-right .links {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header .nav-right .nav_link_write {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--text-gray-color);
    font-weight: 500;
}

header .nav-right .nav_link_write a {
    font-weight: 500;
    color: var(--text-gray-color);
}

header .nav-right .nav_btn {
    padding: .2rem .6rem;
    border-radius: 1.5rem;
    font-weight: 500;
}

header .nav_btn_signin {
    background: var(--tertiary-color)
}

header .nav_btn_signin a {
    color: var(--primary-color);
}


header .nav_btn_signup {
    background: var(--secondary-color)
}

header .nav_btn_signup a {
    color: var(--tertiary-color);
}

.image_nav{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.image_nav img{
    width: 100%;
    height: 100%;
}