<section class="user_form">
    <%= render '/shared/errors' , obj: @category %>
        <%= form_with( model: @category, data:{turbo: false}, local: true, class:"form_con") do |f| %>

            <div class="form_box fullname_box">
                <%= f.text_field :name, placeholder:"Category name" %>
            </div>

            <%= f.submit(@category.new_record? ? "Create " : "Update" , class:"sign_btn") %>

                <% end %>
</section>