<div class="topics_page">
    <h4 class="text-center mb-4 profile_username">Explore Personalized Picks</h4>
    <div class="topic_con">
        <% @categories.each do |category| %>
            <div class="topic_box">
                <h4>
                    <%= link_to category.name, category_path(category) %>
                </h4>
                <p>
                    <%= pluralize(category.articles.count, 'blog' ) %>
                </p>

                <% if logged_in? && current_user.admin? %>
                    <%= link_to 'Delete' , category_path(category), data:{turbo_method: :delete, turbo_confirm:'Delete
                        Category'}, class:'dl-ct' %>
                        <% end %>

            </div>
            <% end %>
    </div>
</div>